.about {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 115px 15px;
	background: url(../../img/back.png) no-repeat;
	background-position: center;
	background-size: cover;
}

.about__image {
	width: 500px;
}

.about__sun {
	width: 100px;
	height: 100px;
	animation: rotation linear 10s infinite;
	position: absolute;
}

.about h1 {
	font-size: 70px;
}

.about p {
	font-size: 18px;
	opacity: 0.8;
}

.about__button {
	font-size: 18px;
	border-radius: 20px;
	padding: 20px 25px;
}

.about__info {
	max-width: 550px;
}

.about__info :not(:last-child) {
	margin: 0 0 15px 0;
}

/* MEDIA---------------------------------*/

@media (max-width: 1024px) {

	.about h1 {
		font-size: 36px;
	}

	.about__image {
		width: 280px;
	}

	.about__sun {
		width: 75px;
		height: 75px;
	}
}

@media (max-width: 720px) {

	.about {
		flex-direction: column-reverse;
	}

	.about__image {
		width: 280px;
	}

	.about__images {
		margin: 0 0 20px 0;
	}

	.about__sun {
		width: 75px;
		height: 75px;
	}

	.about__info {
		text-align: center;
	}

}