.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 50px;
	margin-top: 50px;
	background-color: rgb(255, 255, 255);
}

.card {
	background: #fff;
	padding: 35px, 40px, 25px, 40px;
	border: 1px solid #d9e4e6;
	border-radius: 5px;
}

.card h3 {
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card p {
	opacity: 0.8;
	font-size: 16px;
	line-height: 22px;
}

.card__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	font-size: 32px;
	font-weight: 700px;
	background-color: #eaeff9;
	border-radius: 50%;
}

.card__right {
	background-color: #fff;
	padding: 30px 40px;
	font-size: 20px;
	line-height: 22px;
	font-weight: 500;
	border-radius: 25px;
}

.card__right p {
	opacity: 80%;
}

.card__right p::before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ec6b29;
	margin-right: 10px;
}

.card__right button {
	background-color: #107b1c;
	margin: 20px;
	font-size: 18px;
	padding: 15px 30px;
	font-weight: 600;
}

.card__right i {
	font-size: 15px;
	margin-left: 5px;
}

/* MEDIA---------------------------------- */

@media (max-width: 720px) {

	.cards {
		grid-template-columns: auto;
	}
}