.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 50px;

}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 25px;
	border: 1px solid #d9e4e6;
	border-radius: 5px;
}

.card :not(:last-child) {
	margin-bottom: 20px;
}

.card h3 {
	font-size: 22px;

}

.card p {
	opacity: 0.8;
}

.card__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	font-size: 32px;
	font-weight: 700;
	background-color: #eaeff9;
	border-radius: 50%;
}

/* MEDIA---------------------------------- */

@media(max-width:1030px) {
	.cards :not(:last-child) {
		margin-bottom: 15px;
	}
}

@media(max-width:920px) {
	.cards {
		grid-template-columns: auto;
	}
}

@media (max-width: 720px) {}