.features {
	padding: 115px 0;
}

.features__border {
	width: 100%;
	margin: 50px 0;
	border: 1px solid #e6eaf4;
}

.features__feedback {
	display: flex;
	justify-content: space-between;

}

.features__feedback-left {
	max-width: 550px;
	margin-right: 15px;
}

.features__feedback-left :not(:last-child) {
	margin-bottom: 15px;
}

.features__feedback-left h2 {
	font-size: 48px;

}

.features__feedback-left p {
	font-size: 18px;
	opacity: 0.7;
}

.features__feedback-right {
	display: flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}

.features__box {
	height: 170px;
	width: 300px;
	flex: 1 1 100%;
	padding: 15px;
	color: #fff;
	border-radius: 25px;
}

.features__box h3 {
	font-size: 48px;
}

.features__savings-box {
	background-color: #dc5e26;
	box-shadow: 0px 6px 0px rgb(221 95 38 / 20%);
}

.features__savings-box :not(:last-child) {
	margin-bottom: 10px;
}

.features__rate-box {
	background-color: #1d263a;
	box-shadow: 0px 6px 0px rgb(29 38 58 / 20%);
}

.features__rate-box>*:not(:last-child) {
	margin-bottom: 10px;
}

/* MEDIA------------------------------------------ */
@media(max-width:1030px) {
	
}

@media(max-width:920px) {
	.features__feedback {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.features__feedback-left {
		margin-bottom: 35px;
		margin-right: 0;
	}
}

@media (max-width: 720px) {

	.features {
		padding: 50px 10px;
	}

	.features__feedback-left h2,
	.features__box h3 {
		font-size: 36px;
	}
}