.form {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1d263a;
	color: #fff;
	padding-top: 115px;
	padding-bottom: 115px;
	text-align: center;
}

.form h1 {
	font-size: 48px;
}

.form p {
	font-size: 18px;
	opacity: 0.65;
}

.form form {
	display: grid;
	grid-gap: 20px;
}

.form label {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 15px;
}

.form input {
	font-size: 18px;
	color: #213053;
	height: 60px;
	padding: 0 20px 0 20px;
	border-radius: 15px;
	border: none;
}

.form select {
	font-size: 18px;
	color: #213053;
	height: 60px;
	padding: 0 20px 0 20px;
	border-radius: 15px;
}

.form__action {
	padding-top: 35px;
}


.form__group {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.form__group :not(:last-child) {
	margin-bottom: 25px;
}

.form__title :not(:last-child) {
	margin-bottom: 20px;
}

.form__submit {
	font-size: 18px;
	font-weight: 600;
}



/* MEDIA--------------------------------- */

@media (max-width: 720px) {

	.form {
		padding: 50px 10px;
	}

	.form h1 {
		font-size: 36px;
	}
}