.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0);
	transition: 0.25s ease;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;
}

.header__scrolled {
	background-color: #fff;
	box-shadow: 0 12px 34px -11px rgb(65 62 101 / 10%);
}

.header__logo {
	height: 30px;
}

.header__control {
	font-size: 15px;
	font-weight: 600;

}

.header__control :not(:last-child) {
	margin-right: 25px;
}

/* MEDIA---------------------------------------------------- */

@media (max-width: 720px) {

	.header__logo {
		height: 20px;
	}

	.header__control :not(:last-child) {
		margin-right: 10px;
	}
}